.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, rgb(161, 140, 209) 0%, rgb(251, 194, 235) 100%);
  }

  li{
    max-width: 92%;
  }
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 40%;
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 5px;
}

.search-button {
  background: #a18cd1;
  border: 1px solid #946cee;
  padding: 10px 20px;
  color: white;
  margin-left: 8px;
  font-weight: 800;
  border-radius: 5px;
}

.search-button:hover {
  background: #946cee;
  border: 1px solid #a18cd1;
  padding: 10px 20px;
  color: white;
}

h1 {
margin: 20px auto 0px 30px;
}

.recipe-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* For responsive design dynamics */
  
}
.recipe-div div{
  width: 365px;
}